.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  border: 1px solid black;
  height: 500px;
  background: white;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

body {
  background: transparent;
}
